WPF_Andersen/Service References/ClientService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClientContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientContract" nillable="true" type="tns:ClientContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientContract" nillable="true" type="tns:ArrayOfClientContract" />
  <xs:complexType name="ClientContract">
    <xs:sequence>
      <xs:element name="Age" type="xs:int" />
      <xs:element name="FirstName" nillable="true" type="xs:string" />
      <xs:element name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientContract" nillable="true" type="tns:ClientContract" />
</xs:schema>